<!-- METRICS -->
<div class="main-container" ng-controller="MainControllerM">
    <ul ng-class="{'is-dragging': isDragging, 'is-dragging-just-finished': isDraggingJustFinished}">
        <segment-builder-group-m class="li-group level-0" level="1" data="dataMainGroup"></segment-builder-group-m>
    </ul>
</div>

<script id="segmentBuilderGroupTplM" type="text/ng-template">
    <li>
        <!-- modal with categories -->
        <div class="modal fade" id="myModalM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-content-metrics">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title text-center grey" id="myModalLabel"><strong>Column Types</strong></h3>
                    </div>
                    <div class="modal-body clearfix">
                        <div ng-repeat="vtype in varstypes">
                            <div ng-show="vtype.type=='Indicators'">
                                <div class="columns col-md-12"><h4 class="subtitle text-center  grey"><strong>{{vtype.type}}</strong></h4></div>
                                <div ng-repeat="type in vtype.elements">
                                    <div class="columns col-md-6 h50" ng-hide="type.del == 1">
                                        <div class="columns col-md-10">{{type.name}}</div>
                                        <div class="columns col-md-2">
                                            <div ng-click="addElement('criterion' ,type.name, this, type.code)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of modal with categories -->
        <div class="options" style="padding-bottom:10px">
            <span ng-hide="level == 1" class="glyphicon glyphicon-move clearfix" aria-hidden="true"></span>
            <div style="float:left"><p>Relation: <span><select ng-model="data.relation" ng-options="item.value as item.name for item in listRelation" class="form-control input-sm"></select></span></p></div>
            <div ng-if="level == 1" class="" data-toggle="modal" data-target="#myModalM"><span style="padding-left: 20px;padding-top: 5px;" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><span class="text-center pull-right">{{dtype}}</span></div>
            <div ng-click="deletePlease({id: data.id})" class="pull-right" ng-if="level > 1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>

        </div>

        <ul ng-show="data.elements.length > 0" class="clearfix" style="margin:0;">

            <li ng-repeat="element in data.elements | orderBy:'position' as filteredData track by element.id"
                class="level-{{ level }}"
                ng-class="{true:'li-group', false:'li-condition'}[element.type == 'group']" style="width:180px;float:left;left:-150px;">

                <drop-target-m ng-if="$index == 0" area="metrics"
                               my-class="first-inside-group"
                               position="0"
                               hide-when-id-after="{{ element.id }}"></drop-target-m>

                <div ng-switch="element.type">



                    <div ng-switch-when="criterion">
                        <segment-builder-criterion-m data="element"
                                                     parent-id="data.id"
                                                     delete-please="deleteElement(id, this, element, $this)"
                                                     duplicate-please="duplicateElement(id)"></segment-builder-criterion-m>

                        <drop-target-m my-class="after-elem"
                                       area="metrics"
                                       position="{{ $index + 1 }}"
                                       hide-when-id-before="{{ element.id }}"
                                       hide-when-id-after="{{ filteredData[$index+1]['id'] }}"></drop-target-m>
                    </div>



                </div>
            </li>
        </ul>

        <div ng-if="data.elements.length == 0">
            <drop-target-m area="metrics" my-class="group-empty" position="0"></drop-target-m>
        </div>
    </li>
</script>
